.main {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  font-family: 'Concert One', sans-serif;
  font-size: 1.5em;
  position: absolute; 
  transition: 0.5s;
}

.header {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

h3 {
  flex: 1;
}

.divList {
  display: flex;
  flex-wrap: wrap;
}

.list {
  flex: 1;
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  box-sizing: border-box;
}

.itemList, .iconsList {
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}

.itemList a, .iconsList a {
  text-decoration: none;
  color: white;
}

.itemList a:hover {
  transition-delay: 1ms;
  font-size: 1.5em;
  color: rgb(106, 125, 203);
  text-shadow: 4px 4px 15px rgb(106, 125, 203);
  transition: 0.5s;  
}

.iconsList a:hover {
  color: rgb(106, 125, 203);
  transition: 0.5s;
}

.divListIcons{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;

}

.divListIcons ul, .divList ul {
  display: flex;
  justify-content: center;
}


/* Media Queries */

/* Estilos para telas pequenas, como tablets */
@media screen and (max-width: 768px) {
  .main {
  text-align: center;
    font-size: 1.2em; /* Reduza o tamanho da fonte para telas menores */
  }
  .divList{
    width: 100%;
  }
}

/* Estilos para telas muito pequenas, como smartphones */
@media screen and (max-width: 480px) {
  .main {
  text-align: center;
    font-size: 1em; /* Reduza ainda mais o tamanho da fonte para telas muito pequenas */
  }
  .divList{
    width: 100%;
  }
}
