
.main{
  font-family: 'Concert One', sans-serif;

  display: flex;
  
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
}

.homeText{
  font-size: 2.5em;

}

.profilePhoto{
  width: 280px;
  height: 280px;
  border: solid 2px rgb(255, 89, 0);
  border-radius: 25px 10px 10px 150px;
}

.homeText::after {
  content: '|'; /* Adicionando um cursor piscante ao final do texto */
  display: inline-block;
  animation: blinkCursor 1s infinite; /* Animação do cursor piscante */
}

@keyframes blinkCursor {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}