.main{
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
  justify-items: center;

  border-top: solid 1px blanchedalmond;
  border-bottom: solid 1px blanchedalmond;

  height: 100vh;
  width: 100%;

  margin: 400px 0 0 0;
}
.title{
  flex-basis: 100%;

  text-align: center;
  width: 100%;
}