.main{
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
  justify-items: center;

  border-top: solid 1px blanchedalmond;

  min-height: 100vh;
  height: auto;
  width: 100%;

  margin: 400px 0 0 0;
}

.divTitle{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.title, .text{
  flex-basis: 100%;

  text-align: center;
  
}

.title:hover{
  color: rgb(106, 125, 203);
}

.text{
  font-style: italic;
}